:root {
  --ion-color-primary: #ff5722;
  --ion-color-primary-rgb: 255,87,34;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e04d1e;
  --ion-color-primary-tint: #ff6838;

  --ion-color-secondary: #1e88e5;
  --ion-color-secondary-rgb: 30,136,229;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #1a78ca;
  --ion-color-secondary-tint: #3594e8;

  --ion-color-tertiary: #673ab7;
  --ion-color-tertiary-rgb: 103,58,183;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5b33a1;
  --ion-color-tertiary-tint: #764ebe;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffeb3b;
  --ion-color-warning-rgb: 255,235,59;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0cf34;
  --ion-color-warning-tint: #ffed4f;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // --ion-grid-column-padding-top:       50px;
  // // --ion-grid-column-padding-xs:     50px;
  // // --ion-grid-column-padding-sm:     50px;
  // // --ion-grid-column-padding-md:     50px;
  // // --ion-grid-column-padding-lg:     50px;
  // // --ion-grid-column-padding-xl:     50px;
}

// ion-navbar {
//   background-color: transparent;
// }

// .my-modal{
//   position: absolute !important;
//   width: 90% !important;
//   height: 65% !important; 
//   top: 20% !important;
//   left: 5% !important;
// }